.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.portfolio-card {
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 1rem;
  box-shadow: 0 10px 30px var(--shadow-color);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.portfolio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px var(--shadow-color);
}

.portfolio-title {
  font-weight: 600;
  color: var(--text-color);
}

.portfolio-categoria {
  color: var(--subtitle-color);
}

@media (max-width: 500px) {
  .portfolio-container {
    grid-template-columns: 1fr; /* 1 card por linha */
    gap: 1rem;
  }
}